<a href="https://colab.research.google.com/github/kaushik-yadav/ETL/blob/main/PySpark_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [51]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,isnan,when,count,round,avg,mean

In [ ]:
spark = SparkSession.builder.appName('intro').getOrCreate()
sqlContext = SparkSession(spark)
spark.sparkContext.setLogLevel("ERROR")

IF the Data is to be created manually then we can define spark df as df = create_df(spark_session,data,schema_of_data)

Loading data from a csv

In [17]:
csv_df = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/content/airports.csv")

In [19]:
csv_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- latitude_deg: double (nullable = true)
 |-- longitude_deg: double (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- scheduled_service: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- home_link: string (nullable = true)
 |-- wikipedia_link: string (nullable = true)
 |-- keywords: string (nullable = true)

In [20]:
csv_df.show()

+------+-----+-------------+--------------------+------------------+-------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+--------------------+--------------------+--------+
|    id|ident|         type|                name|      latitude_deg|      longitude_deg|elevation_ft|continent|iso_country|iso_region|municipality|scheduled_service|gps_code|iata_code|local_code|           home_link|      wikipedia_link|keywords|
+------+-----+-------------+--------------------+------------------+-------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+--------------------+--------------------+--------+
|  6523|  00A|     heliport|   Total RF Heliport|         40.070985|         -74.933689|          11|       NA|         US|     US-PA|    Bensalem|               no|    K00A|     NULL|       00A|https://www.pennd...|                NULL|    NULL|
|323361| 00AA|small_airport|Aero B Ranch Airport|         38.704022|        -101.473911|        3435|       NA|         US|     US-KS|       Leoti|               no|    00AA|     NULL|      00AA|                NULL|                NULL|    NULL|
|  6524| 00AK|small_airport|        Lowell Field|         59.947733|        -151.692524|         450|       NA|         US|     US-AK|Anchor Point|               no|    00AK|     NULL|      00AK|                NULL|                NULL|    NULL|
|  6525| 00AL|small_airport|        Epps Airpark| 34.86479949951172| -86.77030181884766|         820|       NA|         US|     US-AL|     Harvest|               no|    00AL|     NULL|      00AL|                NULL|                NULL|    NULL|
|506791| 00AN|small_airport|Katmai Lodge Airport|         59.093287|        -156.456699|          80|       NA|         US|     US-AK| King Salmon|               no|    00AN|     NULL|      00AN|                NULL|                NULL|    NULL|
|  6526| 00AR|       closed|Newport Hospital ...|           35.6087|         -91.254898|         237|       NA|         US|     US-AR|     Newport|               no|    NULL|     NULL|      NULL|                NULL|                NULL|    00AR|
|322127| 00AS|small_airport|      Fulton Airport|        34.9428028|        -97.8180194|        1100|       NA|         US|     US-OK|        Alex|               no|    00AS|     NULL|      00AS|                NULL|                NULL|    NULL|
|  6527| 00AZ|small_airport|      Cordes Airport|34.305599212646484|-112.16500091552734|        3810|       NA|         US|     US-AZ|      Cordes|               no|    00AZ|     NULL|      00AZ|                NULL|                NULL|    NULL|
|  6528| 00CA|small_airport|Goldstone (GTS) A...|          35.35474|        -116.885329|        3038|       NA|         US|     US-CA|     Barstow|               no|    00CA|     NULL|      00CA|                NULL|https://en.wikipe...|    NULL|
|324424| 00CL|small_airport| Williams Ag Airport|         39.427188|        -121.763427|          87|       NA|         US|     US-CA|       Biggs|               no|    00CL|     NULL|      00CL|                NULL|                NULL|    NULL|
|322658| 00CN|     heliport|Kitchen Creek Hel...|        32.7273736|       -116.4597417|        3350|       NA|         US|     US-CA| Pine Valley|               no|    00CN|     NULL|      00CN|                NULL|                NULL|    NULL|
|  6529| 00CO|       closed|          Cass Field|         40.622202|        -104.344002|        4830|       NA|         US|     US-CO|  Briggsdale|               no|    NULL|     NULL|      NULL|                NULL|                NULL|    00CO|
|  6531| 00FA|small_airport| Grass Patch Airport| 28.64550018310547| -82.21900177001953|          53|       NA|         US|     US-FL|    Bushnell|               no|    00FA|     NULL|      00FA|                NULL|                NULL|    NULL|
|  6532| 00FD|       closed|  Ringhaver Heliport|           28.8466|         -82.345398|          25|       NA|         US|     US-FL|   Riverview|               no|    NULL|     NULL|      NULL|                NULL|                NULL|    00FD|
|  6533| 00FL|small_airport|   River Oak Airport|27.230899810791016| -80.96920013427734|          35|       NA|         US|     US-FL|  Okeechobee|               no|    00FL|     NULL|      00FL|                NULL|                NULL|    NULL|
|  6534| 00GA|small_airport|    Lt World Airport| 33.76750183105469| -84.06829833984375|         700|       NA|         US|     US-GA|    Lithonia|               no|    00GA|     NULL|      00GA|                NULL|                NULL|    NULL|
|  6535| 00GE|     heliport|    Caffrey Heliport|         33.887982|         -84.736983|         957|       NA|         US|     US-GA|       Hiram|               no|    00GE|     NULL|      00GE|                NULL|                NULL|    NULL|
|  6536| 00HI|     heliport|  Kaupulehu Heliport|         19.832881|        -155.978347|          43|       OC|         US|     US-HI| Kailua-Kona|               no|    00HI|     NULL|      00HI|                NULL|                NULL|    NULL|
|  6537| 00ID|small_airport|Delta Shores Airport|48.145301818847656|-116.21399688720703|        2064|       NA|         US|     US-ID|  Clark Fork|               no|    00ID|     NULL|      00ID|                NULL|                NULL|    NULL|
|322581| 00IG|small_airport|       Goltl Airport|         39.724028|        -101.395994|        3359|       NA|         US|     US-KS|    McDonald|               no|    00IG|     NULL|      00IG|                NULL|                NULL|    NULL|
+------+-----+-------------+--------------------+------------------+-------------------+------------+---------+-----------+----------+------------+-----------------+--------+---------+----------+--------------------+--------------------+--------+
only showing top 20 rows

counting null values for elevation_ft column

filter is used for filtering the dataframes , it is analogous to WHERE in sql

In [29]:
count_null = csv_df.filter(col("elevation_ft").isNull()).count()
count_null

14514

sorting based on elevation

In [35]:
sorted_df = csv_df.orderBy(col("elevation_ft").desc())
sorted_df.show(n=10)

+------+-------+-------------+--------------------+------------------+-----------------+------------+---------+-----------+----------+----------------+-----------------+--------+---------+----------+---------+--------------------+----------+
|    id|  ident|         type|                name|      latitude_deg|    longitude_deg|elevation_ft|continent|iso_country|iso_region|    municipality|scheduled_service|gps_code|iata_code|local_code|home_link|      wikipedia_link|  keywords|
+------+-------+-------------+--------------------+------------------+-----------------+------------+---------+-----------+----------+----------------+-----------------+--------+---------+----------+---------+--------------------+----------+
|350894|NP-0007|     heliport|Mount Everest Bas...|          28.00369|         86.85324|       17372|       AS|         NP|     NP-P1|        Khumjung|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
|350896|NP-0009|     heliport|Kala Patthar Heli...|          27.98714|         86.83184|       17347|       AS|         NP|     NP-P1|        Khumjung|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
| 42716|IN-0003|small_airport|Daulat Beg Oldi A...|         35.396467|        77.928965|       16200|       AS|         IN|     IN-LA|           Nubra|               no|    NULL|     NULL|      NULL|     NULL|https://en.wikipe...|      NULL|
|356099|CN-0372|     heliport| Aksai Chin Heliport|          35.24569|         79.54054|       15988|       AS|         CN|     CN-65|          Khotan|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
|356096|CN-0369|     heliport|      Nyima Heliport|          31.78739|         87.29839|       14997|       AS|         CN|     CN-54|   Nagqu (Nyima)|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
| 39635|   SPNH|small_airport|Laguna Choclococh...|-13.16569995880127|-75.0719985961914|       14965|       SA|         PE|    PE-HUV|     Choclococha|               no|    SPNH|     NULL|      NULL|     NULL|                NULL|      NULL|
|356094|CN-0367|     heliport|      Rutog Heliport|          33.65626|         80.45084|       14859|       AS|         CN|     CN-54|           Rutog|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
| 39624|   SPFA|       closed|       Fausa Airport|          -14.7094|       -71.731102|       14809|       SA|         PE|    PE-CUS|           Fausa|               no|    NULL|     NULL|      NULL|     NULL|                NULL|SPFA, SPFA|
|356097|CN-0370|     heliport|       Seni Heliport|         31.414472|        91.983751|       14730|       AS|         CN|     CN-54|    Nagqu (Seni)|               no|    NULL|     NULL|      NULL|     NULL|                NULL|      NULL|
|356100|CN-0373|     heliport|     Daklam Heliport|           28.2845|          89.4035|       14541|       AS|         CN|     CN-54|Xigazê (Kangmar)|               no|    NULL|     NULL|      NULL|     NULL|                NULL|   Galanub|
+------+-------+-------------+--------------------+------------------+-----------------+------------+---------+-----------+----------+----------------+-----------------+--------+---------+----------+---------+--------------------+----------+
only showing top 10 rows

In [ ]:

ordered_by_id = csv_df.orderBy(col("id"))
ordered_by_id.show()

adding a new column for latitude in radians

In [44]:
conversion_unit = 0.0174533
plane_details = ordered_by_id.select("id","ident","type","name",(round(col("latitude_deg")*conversion_unit,5)).alias("latitude_rad"))
plane_details.show()

+---+-------+--------------+--------------------+------------+
| id|  ident|          type|                name|latitude_rad|
+---+-------+--------------+--------------------+------------+
|  2|   OM11| small_airport|Abu Dhabi Northea...|     0.42807|
|  3|   AGGH| large_airport|Honiara Internati...|    -0.16455|
|  4|   AGGM|medium_airport|       Munda Airport|    -0.14535|
|  5|AL-LA10|        closed|Gjirokastër Airfield|     0.69962|
|  7|   UD21| small_airport|       Arzni Airport|     0.70327|
|  8|   ANYN|medium_airport|Nauru Internation...|    -0.00955|
|  9|   FN18| small_airport|      Matala Airport|    -0.25704|
| 10|   FN19| small_airport|  Cabo Ledo Air Base|    -0.16848|
| 11|   NZ12| small_airport|Palmer Station Ai...|    -1.13053|
| 12|   SA47| small_airport|      Petrel Airport|    -1.10792|
| 13|   SA01| small_airport|       Cachi Airport|    -0.43817|
| 14|   SA02| small_airport|    Cafayate Airport|    -0.45476|
| 15|   SA03| small_airport|Villa Minetti Air...|    -0.49952|
| 16|   SA04| small_airport|Isla Martin Garci...|    -0.59659|
| 17|   SA05| small_airport|  Bell Ville Airport|    -0.57002|
| 18|   SA06| small_airport|  Santa Rita Airport|    -0.62532|
| 19|   SA07| small_airport|   El Porton Airport|    -0.64916|
| 20|   SA10| small_airport|Aeródromo Estanci...|    -0.45895|
| 21|   SA11| small_airport|Campo Arenal Airport|     -0.4725|
| 22|   SA12| small_airport| Quemu Quemu Airport|    -0.62934|
+---+-------+--------------+--------------------+------------+
only showing top 20 rows

Average continent and Country wise Elevation

In [69]:
elev_df = csv_df.select("iso_country","continent","elevation_ft")
continent_avg_elev_df = elev_df.groupBy("continent").agg(round(mean("elevation_ft"),4).alias("avg_continent_elevation"))
country_avg_elev_df = elev_df.groupBy("iso_country").agg(round(mean("elevation_ft"),4).alias("avg_country_elevation"))
avg_elev_df = elev_df.join(country_avg_elev_df, on = "iso_country",how = "left")\
                      .join(continent_avg_elev_df, on = "continent",how = "left")

avg_elev_df.show()

+---------+-----------+------------+---------------------+-----------------------+
|continent|iso_country|elevation_ft|avg_country_elevation|avg_continent_elevation|
+---------+-----------+------------+---------------------+-----------------------+
|       NA|         US|          11|            1275.2224|              1353.0655|
|       NA|         US|        3435|            1275.2224|              1353.0655|
|       NA|         US|         450|            1275.2224|              1353.0655|
|       NA|         US|         820|            1275.2224|              1353.0655|
|       NA|         US|          80|            1275.2224|              1353.0655|
|       NA|         US|         237|            1275.2224|              1353.0655|
|       NA|         US|        1100|            1275.2224|              1353.0655|
|       NA|         US|        3810|            1275.2224|              1353.0655|
|       NA|         US|        3038|            1275.2224|              1353.0655|
|       NA|         US|          87|            1275.2224|              1353.0655|
|       NA|         US|        3350|            1275.2224|              1353.0655|
|       NA|         US|        4830|            1275.2224|              1353.0655|
|       NA|         US|          53|            1275.2224|              1353.0655|
|       NA|         US|          25|            1275.2224|              1353.0655|
|       NA|         US|          35|            1275.2224|              1353.0655|
|       NA|         US|         700|            1275.2224|              1353.0655|
|       NA|         US|         957|            1275.2224|              1353.0655|
|       OC|         US|          43|            1275.2224|               881.3499|
|       NA|         US|        2064|            1275.2224|              1353.0655|
|       NA|         US|        3359|            1275.2224|              1353.0655|
+---------+-----------+------------+---------------------+-----------------------+
only showing top 20 rows

taking only distinct countries by using dropduplicates